

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

li.menuItem {
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
}

.main {
    margin: 15px;
}

.featureDescription {
}

.mainTable {
    width: 100%;
    min-height: 90%;
}

.shortDescription {
}

pre {
    font-family: "Consolas", "Menlo", "Courier", monospace;
    border: groove;
    border-color: navy;
    padding: 1em;
    min-width: 20%;max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
body{
    padding: 2em;
}

.section {
    border-color: navy;
    background-color: lightyellow;
    color: navy;
}

.doc-header {
    background-color: lightyellow;
    color: navy;
    font-weight: bold;
    font-size: xx-large;
    width:100%;

}

.section-header {
    background-color: lightyellow;
    color: navy;
    font-weight: bold;
    font-size: x-large;
    width:99%;
}

.sub-section-header {
    color: lightyellow;
    background-color: navy;
    font-weight:normal;
    font-size: medium;
    width:99%;
}

.section-content {
    background-color: lightyellow;
    color: navy;
    font-weight:400;
    width:99%;
    margin: 10px;
    font-size: large;

}

.mainContent {
    border: groove;
    background-color: lightyellow;
    color: navy;
    border-color: navy;
    padding: 1em;min-width: 20%;max-width: 90%;
}

.menu {
    vertical-align: top;
    color: lightyellow;
    background-color: navy;
}

div.menu {
    border-color: navy;
    border: groove;
}

.example-header {
    background-color: lightyellow;
    color: navy;
    font-weight: bold;
    font-size: xx-large;
    width:99%;
}
.example-howto-header {
    background-color: lightyellow;
    color: navy;
    font-weight: bold;
    font-size: x-large;
    width:99%;
}
.example-complete-header {
    background-color: lightyellow;
    color: navy;
    font-weight: bold;
    font-size: x-large;
    width:99%;
}

.example-sub-header {
    background-color: lightyellow;
    color: navy;
    font-weight: bold;
    font-size: large;
    width:99%;
}

.example-content {
    background-color: lightyellow;
    color: navy;
    font-weight: normal;
    font-size: medium;
    width:99%;
}


.docs-header {
    background-color: lightyellow;
    color: navy;
    font-weight: bold;
    font-size: xx-large;
    width:99%;
}
.docs-sub-header {
    background-color: lightyellow;
    color: navy;
    font-weight: bold;
    font-size: x-large;
    width:99%;
}

.docs-heading {
    background-color: lightyellow;
    color: navy;
    font-weight: normal;
    font-size: x-large;
    width:99%;
}

.docs-content {
    background-color: lightyellow;
    color: navy;
    font-weight: normal;
    font-size: medium;
    width:99%;
}
