
table {
    width: 95%;
}

.error {
    background-color: red;
    color: white;
}

.debug {
    background-color: darkBlue;
    color: white;
}

.message {
    background-color: green;
    color: white;
}

.customEvent {
    background-color: white;
    color: navy;
}

.eventList {
    overflow: scroll;
    border-style: groove;
    border-color: black;
    max-height: 800px;
}

.eventListHeader {
    border-style: groove;
    border-color: black;
}
